.block2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.block2_image{
    margin: 40px auto auto auto;
}
.block2 p{
    color: black;
    text-align: center;
    margin: 5px auto 5px auto;
}
.text h3{
    margin: 60px auto 25px auto;
    font-weight: 600;
}
.backfon{
    background-color: #EFEFEF;
    /* margin-top: 30px; */
}
.kreslo{
    background-color: #ffffff;
    margin: 5px auto 5px auto;
}
.link{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.button2{
    background-color: #F13C6E;
    border: 0px;
    border-radius: 40px;
    padding: 6px 40px 6px 40px;
    margin: auto auto 20px auto;
}